<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Stock prices</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/style.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css">

</head>
<body ng-cloak>
  <div class="container-fluid" ng-controller="StocksController">
    <div class="row">
      <div class="col-md-2 stock-list">
          <p ng-repeat="tick in tickers track by $index">
            {{tick}} 
            <span class="pull-right">
              <i class="fa fa-plus-square clickable" ng-click="addStock(tick)"></i>
              <i class="fa fa-minus-square clickable" ng-click="delStock(tick)"></i>
            </span>
          </p>

        

      </div>
      <div class="col-md-10 col-md-offset-2 main">
        <!-- Overall chart -->
        <div class="row ver-space">
          <div class="col-md-12">
            <div class="portlet">
              <div class="portlet-header">
                <h3><i class="fa fa-bar-chart-o"></i>Overall chart</h3>
              </div>
              <div class="portlet-content">
                <div class="row">

                  <div class="col-md-6">
                    <div class="form-inline">
                      <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-addon">From</div>
                          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="startDate" 
                            is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                          <div class="input-group-addon"><i class="glyphicon glyphicon-calendar" ng-click="open1()"></i></div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-inline">
                      <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-addon">To</div>
                          <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="endDate" 
                            is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                          <div class="input-group-addon"><i class="glyphicon glyphicon-calendar" ng-click="open2()"></i></div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END -->

        <!-- Daily chart -->
        <div class="row ver-space">
          <div class="col-md-12">
            <div class="portlet">
              <div class="portlet-header">
                <h3><i class="fa fa-bar-chart-o"></i>Daily chart</h3>
              </div>
              <div class="portlet-content">
                <div class="row">

                  <div class="col-md-9">
                    col-md-9
                  </div>

                  <div class="col-md-3">
                    col-md-3
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END -->

        <!-- Stock details -->
        <div class="row">
          <div class="col-md-12">
            <uib-accordion close-others="oneAtATime" ng-repeat="stock in stocks">
              <div uib-accordion-group class="panel-default" is-open="status.open">
                <uib-accordion-heading>
                  {{ stock.symbol }}
                  <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </uib-accordion-heading>
                Stock details
              </div>
            </uib-accordion>
          </div>          
        </div>        
        <!-- END -->



      </div>
    </div>
  </div>
  


  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="app/app.module.js"></script>
  <script src="app/stocks.controller.js"></script>
  <script src="app/data.service.js"></script>
  <script src="app/stocks.directives.js"></script>
</body>
</html>